# Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the popular languages that Data Scientists use are:


1. python
2. sql
3. R

# Some of the commonly used libraries used by Data Scientists include:


1. pandas
2. Numpy
3. keras

|Data Science Tools|
|--------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
hours = 200 // 60
minutes = 200 % 60
print("200 minutes equals to %d hourse %d minutes" %(hours,minutes))

200 minutes equals to 3 hourse 20 minutes

Objectives:

- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- simple arithmetic expression

## Author

Bonan Yin